body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding-top: 30px;
    justify-content: center;
    text-align: center;
}
div {
    justify-content: center;
    text-align: center;
}
img {
    height: 250px;
    width: 250px;
}
h2 {
    font-size: 30px;
    margin: 1px;
}
h3 {
    font-size: 15px;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: gray;
}